@import "font-awesome"
@import "bootstrap"

$font-family-sans-serif: "Helvetica Neue", "Lato", sans-serif

$light-black: lighten(#282828, 10%)
$text-color: $light-black
$dark-red: #9e3833
$dark-blue: #215f8b
$brand-primary: $dark-blue

@import "logo"

body
  font-family: $font-family-sans-serif
  font-size: 24px
  color: $text-color

code 
  font-family: "Inconsolata", monospace
  color: black

pre code
  font-size: 20px

.navbar.nav
  font-family: 'Lato', sans-serif
  a
    &:hover, &:focus
      text-decoration: none
  .links
    margin-top: 6px
    margin-bottom: 0
    a
      font-size: 18px
      font-weight: 900
      line-height: 2
      color: $light-black
      &:hover, &:focus, &.active
        color: $dark-blue
  .logo
    font-size: 36px
    margin-top: 4px
    margin-bottom: 0px
    display: block
    .go
      margin-left: -8px

h1.title
  text-align: center
  padding-top: 10px

section
  padding-bottom: 30px
  margin-top: 20px
  &.black
    color: white
    background-color: $light-black
  &.setup
    .install
      font-size: 36px
      .install-cli
        display: inline-block
        padding-right: 20px
        margin-top: 50px
        background-color: #f8f8f8
        height: 65px
        span.cli-logo
          float: left
          padding: 5px 10px 10px 10px
          display: inline-block
          background-color: #e1e1e1
        span.cmd code
          padding-left: 20px
          float: left
          padding-top: 8px
          background-color: inherit
          i.fa.fa-external-link
            position: relative
            bottom: 15px
            font-size: 10px  
        span.oses
          padding-left: 30px
          float: right
          position: relative
          top: 5px
      span.others
        position: relative
        bottom: 20px
        font-size: 60px
        a
          text-decoration: none
          &:hover
            color: lighten(#337ab7, 20%)
            text-decoration: underline
  &.features
    ul.usage
      margin-top: 30px
      list-style: none
      li
        span.description
          display: inline-block
          width: 500px
          span.arrow
            padding-right: 5px
        code span.subcmd
          color: darken(red, 20%)
        .examples
          pre
            margin-left: 500px
            width: 70%
            background-color: darken($light-black, 10%)
            color: white
            display: inline-block
  &.changelog
    ul.releases
      list-style: none
      li.release
        display: block
        color: white
        background-color: lighten($light-black, 5%)
        border-radius: 6px
        border: 1px solid  black
        text-align: center
        margin-top: 20px
        margin-bottom: 10px
        padding-top: 20px
        padding-bottom: 20px
        ul
          text-align: left
          display: block
          li 
            padding: 5px
            pre
              margin-top: 10px
              margin-right: 40px
              color: white
              background-color: lighten($light-black, 10%)
  &.oses
    h3
      font-size: 28px
      font-weight: bold
    ul.oses-list
      list-style: none
