%section.setup
  .container
    .row
      %h1.title Command line utility for Scalingo PaaS

      .install
        .install-cli
          %span.cli-logo
            %i.fa.fa-terminal
          %span.cmd
            %code $
            %code
              curl -O&nbsp;
              %a{href: "http://cli-dl.scalingo.io"}>='cli-dl.scalingo.io<i class="fa fa-external-link"></i>'
              \/install &amp;&amp; bash install
          %span.oses
            %i.fa.fa-linux
            %i.fa.fa-apple
        %span.others
          %a{title: "Other OSes", href: "/oses"}…

%section.black.features
  .container
    .row
      %h1.title Features

      %p
        The command is now available on your system.

      %pre
        %code
          scalingo -a &lt;app&gt; &lt;command&gt; [--command-flags] &lt;arg1&gt; &lt;arg2&gt; … &lt;argn&gt;

      = usage

%section.configuration
  .container
    .row
      %h1.title Configuration
        
      %h2 Application Detection

      %p We try to detect automatically the name of your application according to:
      %ul
        %li
          %code SCALINGO_APP
          environment variable
        %li
          %code -a|--app
          flag of the command line
        %li
          %code scalingo
          remote of your GIT repository

%section.black.changelog
  .container
    .row
      %h1.title Changelog

      %ul.releases
        %li.release
          1.0.0-alpha3
          %ul
            %li
              Fix credential storage issue
              %pre
                %code
                  fixed: #72 #73
            %li
              Fix wrong help for command 'db-tunnel'
              %pre
                %code
                  fixed: #74
            %li
              Fix logfile open operation on MacOS
              %pre
                %code
                  fixed: #70
            %li
              Build Windows version on Windows with CGO
              %pre
                %code
                  fixed: #71
            %li
              Build Mac OS verison on Mac OS with CGO
              %pre
                %code
                  fixed: #71
        %li.release
          1.0.0-alpha2
          %ul
            %li
              Move addons-related commands to toplevel
              %pre
                %code
                  :preserve
                    new-command: addons-add &lt;addon&gt; &lt;plan&gt;
                    new-command: addons-remove &lt;addon-id&gt;
                    new-command: addons-upgrade &lt;addon-id&gt; &lt;plan&gt;
        %li.release
          1.0.0-alpha1
          %ul
            %li First public draft
