%section.setup
  .container
    .row
      %h1.title Command line utility for Scalingo PaaS

      .install
        %span.cli-logo
          %i.fa.fa-terminal
        %span.cmd
          %code $
          %code curl -O cli-dl.scalingo.io/install &amp;&amp; bash install

%section.features
  .container
    .row
      %h1.title Features

      %p
        The command is now available on your system.

      %pre
        %code
          scalingo -a &lt;app&gt; &lt;command&gt; [--command-flags] &lt;arg1&gt; &lt;arg2&gt; … &lt;argn&gt;

      %ul.features
        %li
          %span.arrow →
          Setup your account SSH keys
        %li
          %span.arrow →
          Create new apps
        %li
          %span.arrow →
          Configure their environment
        %li
          %span.arrow →
          Configure custom domain names
        %li
          %span.arrow →
          Provision addons
        %li
          %span.arrow →
          Deploy
        %li
          %span.arrow →
          Watch the logs
        %li
          %span.arrow →
          Access the database
        %li
          %span.arrow →
          Scale

%section.usage
  .container
    .row
      %h1.title Usage

      %h3 Login
      
      %p Any command will ask your to login before being executed.

      %pre
        %code
          $ scalingo &lt;any command&gt;
          You need to be authenticated to use Scalingo client.
          No account ? → https://my.scalingo.com/users/signup
          Username or email: myusername
          Password: #FILTERED#
          \...
          Hello myusername, nice to see you!

      %h3 List apps
        
      %pre
        %code
          $ scalingo apps
          +-------------+--------------+--------------------------------+
          |    NAME     |     ROLE     |             OWNER              &#124;
          +-------------+--------------+--------------------------------+
          | myapp1      | owner        | -                              &#124;
          | otherapp1   | collaborator | otheruser &lt;user@example.com&gt;   &#124;
          +-------------+--------------+--------------------------------+



        

