%section.setup
  .container
    .row
      .col-xs-12
        %h1.text-center Command line utility for Scalingo PaaS
    .row
      .col-xs-12
        .form-group.install
          .input-group
            .input-group-addon.cli-logo
              %i.fa.fa-terminal
            %input.form-control{type: "text", disabled: "disabled", value: "curl -O https://cli-dl.scalingo.io/install && bash install"}

%section.oses
  .container
    .row
      .col-xs-12
        %h2.no-top Supported operating systems

        %p We officialy support the following operating systems:

        %ul.list-inline
          %li
            %i.fa.fa-linux
            Linux
          %li
            %i.fa.fa-apple
            MacOS
          %li
            %i.fa.fa-windows
            Windows
          %li
            %img{src: "/assets/images/freebsd.png"}
            FreeBSD
          %li
            %img{src: "/assets/images/openbsd.png"}
            OpenBSD

        %h2 Binaries

        %h3 Access

        %p
          For each of these operating systems, you can find the precompiled binaries at the following URL:

        %p
          →
          %a{href: 'https://github.com/Scalingo/cli/releases'}https://github.com/Scalingo/cli/releases

        %h3 Dependencies

        %p
          As the Scalingo client is developped with Go, the binaries are self sufficient, you have no
          external dependency to install.

        %h3 Tips

        %ul
          %li
            If you have Linux or Mac OS, install it with
            %a{href: "/"}the install script
          %li For an easier access, move the file to a directory included in your PATH

%section.black.features
  .container
    .row
      .col-xs-12
        %h1.title Features

        %p
          The command is now available on your system.

        %pre
          %code
            scalingo -a &lt;app&gt; &lt;command&gt; [--command-flags] &lt;arg1&gt; &lt;arg2&gt; … &lt;argn&gt;

        = usage

%section.configuration
  .container
    .row
      .col-xs-12
        %h1.title
          %a{href: "#Configuration", name: "Configuration"}
          Configuration

        %h2 Application Detection

        %p We try to detect automatically the name of your application according to:
        %ul
          %li
            %code SCALINGO_APP
            environment variable
          %li
            %code -a|--app
            flag of the command line
          %li
            %code scalingo
            remote of your GIT repository

%section.black.changelog
  .container
    .row
      .col-xs-12
        %h1
          Changelog
          %a{href: "#Changelog", name: "Changelog"}
      .col-xs-12
        %strong 1.0.0-alpha4
        %ul
          %li
            Adapt to Scalingo API modifications
          %li
            Do not encode HTML entities anymore
            %pre
              %code
                command: logs
          %li
            New login command
            %pre
              %code
                command: login
          %li
            Allow to use encrypted SSH key (AES-128-CBC)
            %pre
              %code
                command: db-tunnel

      .col-xs-12
        %strong 1.0.0-alpha3
        %ul
          %li
            Fix credential storage issue
            %pre
              %code
                fixed: #72 #73
          %li
            Fix wrong help for command 'db-tunnel'
            %pre
              %code
                fixed: #74
          %li
            Fix logfile open operation on MacOS
            %pre
              %code
                fixed: #70
          %li
            Build Windows version on Windows with CGO
            %pre
              %code
                fixed: #71
          %li
            Build Mac OS verison on Mac OS with CGO
            %pre
              %code
                fixed: #71
      .col-xs-12
        %strong 1.0.0-alpha2
        %ul
          %li
            Move addons-related commands to toplevel
            %pre
              %code
                :preserve
                  new-command: addons-add &lt;addon&gt; &lt;plan&gt;
                  new-command: addons-remove &lt;addon-id&gt;
                  new-command: addons-upgrade &lt;addon-id&gt; &lt;plan&gt;
      .col-xs-12
        %strong 1.0.0-alpha1
        %ul
          %li First public draft
